# -----------------------------------------------------------------------------
# Dependencies
# -----------------------------------------------------------------------------

node_modules

# -----------------------------------------------------------------------------
# Miscellaneous
# -----------------------------------------------------------------------------

.vscode
.gitignore